.typewriter {
  font-family: 'Courier New', monospace;
  font-size: 6rem;
  position: absolute; 
  top: 2rem;
  left: 2rem;
  display: inline-block;
  color: black;
}

.cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s step-start infinite;
  color: black;
}

.cursor.on {
  opacity: 1;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
