body {
  margin: 0;
  background-color: #fef9e7;
  /* light yellow for graph paper*/
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 20px 20px;
  font-family: 'Courier New', monospace;
}


.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
  padding: 10rem;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.topSpacer {
  height: 120px;
}